7.Telegram bot/Telegram_bot.json
{
  "name": "Telegram_bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -528,
        -144
      ],
      "id": "4d40545f-e5f8-423b-9d5b-aa86238dbe80",
      "name": "Telegram Trigger",
      "webhookId": "3cdf7e4c-c389-4aae-8539-407e92da7532",
      "credentials": {
        "telegramApi": {
          "id": "WigVDluDaXP38XmP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -320,
        -144
      ],
      "id": "bba27cfb-0964-4530-99cb-e85c3520e485",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -400,
        128
      ],
      "id": "3565d1cd-e911-45b1-8987-a78ebe86edf1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SMZu8JBLi538oPaV",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        -144
      ],
      "id": "c681b282-5d64-48fd-8291-3f23c1d084a1",
      "name": "Send a text message",
      "webhookId": "475d7b5d-7cae-4907-94e6-1e49f5359404",
      "credentials": {
        "telegramApi": {
          "id": "WigVDluDaXP38XmP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "8452078418:AAFnzRGY75KyqEJwP6TV1uOOmSAudD_NHiw"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -272,
        112
      ],
      "id": "6686122a-6567-4ffa-b895-ab8b0495b69e",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "21f2a1f4-04e5-40ca-8522-c7974f517365",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "200e6d5e0b957c1c3e2b60282fbba05b2224a53fbedf683c8300bd69c5b9b100"
  },
  "id": "bJznMcfdza0UfvQKTBRK3",
  "tags": []
}