9.Nasa Image/Nasa.json
{
  "name": "Nasa",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4d4e5c08-bc45-4662-b660-f03c12c99b2a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -992,
        -144
      ],
      "id": "49507399-e877-486f-a410-3d1d30066741",
      "name": "Webhook",
      "webhookId": "4d4e5c08-bc45-4662-b660-f03c12c99b2a"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1CwbWR72T0y8YbGzEQofm2DzGPMxzNMPu6tfPmOtpAQY",
          "mode": "list",
          "cachedResultName": "Mirai Intership Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CwbWR72T0y8YbGzEQofm2DzGPMxzNMPu6tfPmOtpAQY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2087394218,
          "mode": "list",
          "cachedResultName": "Nasa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CwbWR72T0y8YbGzEQofm2DzGPMxzNMPu6tfPmOtpAQY/edit#gid=2087394218"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Email": "={{ $json.body.email }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -768,
        -160
      ],
      "id": "11dc6ab6-d911-4bf9-a4e7-0eac25bf8bd6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UTPxKYr6K1iibkNH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.nasa",
      "typeVersion": 1,
      "position": [
        -560,
        -160
      ],
      "id": "2799b8ce-5ae0-4f72-87ac-2035f342d78a",
      "name": "Get the astronomy picture of the day",
      "credentials": {
        "nasaApi": {
          "id": "TMsKJkO6emUYE2fa",
          "name": "NASA account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Space Image",
        "emailType": "text",
        "message": "=Hello ,{{ $json.Name }}\n\nThanks For Subscribe",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -352,
        -160
      ],
      "id": "50c40447-6add-4413-8e99-25334ab401c6",
      "name": "Send a message",
      "webhookId": "817936aa-10e9-413d-adfb-52ec33c2e315",
      "credentials": {
        "gmailOAuth2": {
          "id": "da5LH4VhCL2XvLnx",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get the astronomy picture of the day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the astronomy picture of the day": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1c56f218-240d-4dc1-ac4f-be45e15e9dd4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47f6e1e60bc29f093bc8ed5cd39b10a9bc1f427f7411c0cf07337f7e4f487f1e"
  },
  "id": "OB54nmFamoetGUom",
  "tags": []
}